.consult-section {
  padding: 3rem 0;
  background-color: black;
  color: white;
}

.consult-title {
  color: #00aaff;
  font-weight: 800;
  font-size: 2.5rem;
}

.consult-button {
  background-color: #00aaff;
  border: none;
  font-weight: 500;
  color: black;
}

.consult-button:hover {
  background-color: #0099dd;
  color: white;
}
  