
.service-section {
  background-color: black;
  color: white;
  padding: 3rem 0;
}

.service-heading {
  text-align: center;
  font-size: 3rem;
  font-weight: 800;
  color: #00aaff; 
  margin-bottom: 3rem;
  font-family: 'Courier New', Courier, monospace;
}

.service-block {
  padding: 2rem 0;
  border-top: 1px solid #ccc;
}

.service-block:last-child {
  border-bottom: 1px solid #ccc;
}


.service-title {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 2rem;
  color: white;
  transition: color 0.3s ease-in-out;
}

.service-title:hover {
  color: #00aaff;
}

.service-description {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  line-height: 1.8;
  color: white;
}
